* {
  box-sizing: border-box;
}

body,
h1,
div,
ul,
li,
span,
img,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  border: 0;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  appearance: none;
}

.wrapper {
  width: 1070px;
  margin: 30px auto;
}

h1 {
  margin-bottom: 30px;
}

.carousel__container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto 40px;
}

.carousel__item {
  display: none;

  &.carousel__active {
    display: block;
  }
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: .3s;

  &:hover {
    background-color: rgba(0, 0, 0, .8);
  }
}

.carousel__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__indicator {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #bbb;
  transition: background-color .3s;

  &.indicator__active,
  &:hover {
    background-color: #717171;
  }
}

.carousel__caption {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 8px 12px;
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
}

.carousel__number {
  position: absolute;
  top: 0;
  padding: 8px 12px;
  font-size: 12px;
  color: #f2f2f2;
}

.carousel__effect--fade {
  animation-name: carousel-fade;
  animation-duration: 1.5s;
}

@keyframes carousel-fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}
